@import '../../variables';

.header {
  min-height: 5rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  transform: translateZ(0);
  border-bottom: 0.5px solid lightgray;
}

.header-text {
  margin: 0 120px;
  border-left: 1px solid $accent-color;
  border-right: 1px solid $accent-color;
  height: 100%;
}

/*.active {*/
  /*border-bottom: 5px solid red;*/
/*}*/

.navbar {
  padding: 0 16px;
}

.selectionBar {
  background-color: $accent-color;
  height: 100%;
  transition: all .25s ease-out;
  transform: translateX(50px);
}
